
html,body {
    background-color:purple;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

p {
    
    margin-top: 12px;
    color: purple;
}

h1 {
    text-align: center;
    margin-bottom: -20px;
    color: #1e4a95;
}

form {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.gruppo input,
.gruppo button {
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #666;
    margin: 0;
    
}


.gruppo button {
    background-color: purple;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.gruppo button:hover {
    background-color:rgb(69, 21, 113);
}

.container {
    
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color:white;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container:hover {
    box-shadow: 6px 10px 12px #000;
}

#image {
    display: flex;
}

#header {
    padding: 90px 15px;
}

table {
    width: 100%;
    border-collapse: separate;
    margin-top: 20px;
}

th,td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: small;
}

th {
    text-align: center;
    background-color: #37383a;
    color: white;
    border-radius: 6px;
    font-size:large;
}

tr:hover {
    background-color: #5a7ebc;
}
