
html,
body {
    background-color: #1e4a95;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
p {
   margin-top: 12px;
    color: purple;
}
h1 {
    text-align: center;
    margin-bottom: -20px;
    color: #1e4a95;
}

/* Disporre gli elementi del modulo in una riga orizzontale */
form {
    
    display: flex;
    flex-direction: row;
    /* Disporre gli elementi in fila orizzontale */
    justify-content: center;
    /* Centrare il modulo orizzontalmente */
    align-items: center;
    /* Allineare verticalmente gli elementi */
    gap: 10px;
    /* Spazio tra gli elementi */
}

/* Stile uniforme per input e pulsante */
.gruppo input,
.gruppo button {
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #666;
    margin: 0;
    /* Rimuovere margini extra */
}

/* Pulsante con stile */
.gruppo button {
    background-color: purple;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.gruppo button:hover {
    background-color:rgb(69, 21, 113);
}

.container {
    
    max-width: 600px;
    /* Larghezza massima del riquadro */
    margin: 20px auto;
    /* Centrare il riquadro */
    padding: 20px;
    /* Spazio interno */
    background-color:whitesmoke;
    /* Sfondo del riquadro */
    border-radius: 10px;
    /* Angoli arrotondati */
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container:hover {
    box-shadow: 6px 10px 12px #000;
    /* Ombra */
}

#header {
    padding: 90px 15px;
}

table {
    width: 100%;
    border-collapse: separate;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 6px;
}

th {
    text-align: center;
    background-color: #37383a;
    color: white;
    border-radius: 6px;
    font-size:large;
}

tr:hover {
    background-color: #5a7ebc;
}
